{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-contact100">
	<div class="wrap-contact100">
		<form class="contact100-form validate-form">
			<span class="contact100-form-title">
					Questions App
			</span>
			<div style="display: flex">
				<form action="/questions">
					<input type="hidden" name="sort_by" value="asc">
					<input type="submit" value="Sort by ASC" class="contact100-form-btn" formmethod="get">
				</form>
				<form action="/questions">
					<input type="hidden" name="sort_by" value="desc">
					<input type="submit" value="Sort by DESC" class="contact100-form-btn" formmethod="get">
				</form>
			</div>

			{%if questions_list%} {%for obj in questions_list%}


			<!--<div class="wrap-input100 validate-input" data-validate="Please enter question text">
				<a class="input100" href="/questions/1/get/">Question 1</a>
			</div>-->
			<div class="wrap-input100 validate-input" data-validate="Please enter question text">
				<a class="input100" href="/questions/{{obj.id}}/get/">{{obj.text}}</a>
			</div>
			{%endfor%}
			<!--<div class="wrap-input100 validate-input" data-validate="Please enter question text">
				<a class="input100" href="/questions/2/get/">Question 2</a>
			</div>

			<div class="wrap-in put100 validate-input" data-validate="Please enter question text">
				<a class="input100" href="/questions/3/get/">Question 3</a>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Please enter question text">
				<a class="input100" href="/questions/4/get/">Question 4</a>
			</div>-->
			{%else%}
			<p class="contact100-form-text">No questions are available</p>
			{%endif%}
		</form>
		<a class="contact100-more-highlight-delete" href="/questions/create/">Add a Question</a>

		<!--</div>

</div>



<div id="dropDownSelect1"></div>
-->


		{% endblock %}
